<div class="login-page">
    <div class="container">
   		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        	<div class="admin-logo text-center">
             	<a href="#"><img src="../assets/img/logo.png" alt="[Image: Bookorrent]" title="Bookorrent" /></a>
            </div>
            <form class="form-login" name="loginController.form"  ng-submit="loginController.login()">
                <h2 class="form-login-heading">Sign in to your account</h2>
                <div class="form-group email">
                    <label for="inputLogin" class="sr-only">Login</label>
                    <input type="email" id="inputLogin" class="form-control" name="email" placeholder="Email" ng-model="loginController.data.email" ng-required="true" ng-minlength="3" ng-enter="loginController.login()">
                    <span class="error" ng-show="(loginController.form.$submitted || loginController.form.email.$touched) && (loginController.form.email.$pristine || loginController.form.email.$invalid) && (loginController.form.email.$error.required)" >Required</span>
                    <span class="error" ng-show="(loginController.form.$submitted || loginController.form.email.$touched) && (loginController.form.email.$pristine || loginController.form.email.$invalid) && (loginController.form.email.$error.email)" >Enter valid email</span>
                </div>
                <div class="form-group password">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" ng-model="loginController.data.password" ng-required="true" ng-minlength="6" ng-maxlength="40" ng-enter="loginController.login()">
                    <span class="error" ng-show="(loginController.form.$submitted || loginController.form.password.$touched) && (loginController.form.password.$pristine || loginController.form.password.$invalid) && (loginController.form.password.$error.required)">Required</span>
                    <span class="error" ng-show="(loginController.form.$submitted || loginController.form.password.$touched) && (loginController.form.password.$pristine || loginController.form.password.$invalid) && (loginController.form.password.$error.minlength)">Minimum length is 6</span>
                    <span class="error" ng-show="(loginController.form.$submitted || loginController.form.password.$touched) && (loginController.form.password.$pristine || loginController.form.password.$invalid) && (loginController.form.password.$error.maxlength)">Maximum length is 40</span>
                </div>
        
                <button class="btn btn-lg btn-block" type="submit" ng-disabled="loginController.form.$invalid">Login</button>
            </form>
    	</div>
    </div>
</div>