<div class="col-md-4">
    <div class="col-md-12 col-xs-12 img-thumbnail">
        <h4>{{'Trip Details'|translate}}</h4>
        <p>
            <strong>{{'Pick Up'|translate}}:</strong>{{VehicleRentalDetails.pickup_counter_location.address}} {{VehicleRentalDetails.item_booking_start_date | date:'MMM d, y h:mm:ss a'}}</p>
        <hr>
        <p>
            <strong>{{'Drop Off'|translate}}:</strong>{{VehicleRentalDetails.drop_counter_location.address}} {{VehicleRentalDetails.item_booking_end_date | date:'MMM d, y h:mm:ss a'}} </p>
        <p>
            <strong>{{'Total Distance'|translate}}:{{VehicleRentalDetails.total_distance}} {{VehicleRentalDetails.distance_unit}}</strong>
        </p>
        <h4>{{'Review Your Rate'|translate}}</h4>
        <table class="small table">
            <thead>
            <tr>
                <th>{{'Description'|translate}}</th>
                <th>{{'Day(s)'|translate}}</th>
                <th>{{'Total'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{vehicleDetails.name}}</td>
                <td ng-if="VehicleRentalDetails.date_diff.total_days > 0">{{VehicleRentalDetails.date_diff.total_days}} {{'Day(s)'| translate}}</td>
                <td ng-if="VehicleRentalDetails.date_diff.total_hours > 0">{{VehicleRentalDetails.date_diff.total_hours}} {{'Hour(s)'| translate}}</td>
                <td>{{siteCurrency}}{{VehicleRentalDetails.booking_amount}}</td>
            </tr>
            <tr ng-if="enabled_plugin.indexOf('VehicleTaxes') >= 0 && VehicleRentalDetails.tax_amount > 0">
                <td>{{'Tax'|translate}}</td>
                <td></td>
                <td>(+) {{siteCurrency}}{{VehicleRentalDetails.tax_amount}}</td>
            </tr>
            <tr ng-if="VehicleRentalDetails.deposit_amount > 0">
                <td>{{'Deposit'|translate}}</td>
                <td></td>
                <td>(+) {{siteCurrency}}{{VehicleRentalDetails.deposit_amount}}</td>
            </tr>
            <tr ng-if="VehicleRentalDetails.drop_location_differ_additional_fee > 0">
                <td>{{'Drop Location Differ Additional Fee'|translate}}</td>
                <td></td>
                <td>(+) {{getFormatCurrency(VehicleRentalDetails.drop_location_differ_additional_fee)}}</td>
            </tr>
            <tr ng-if="VehicleRentalDetails.drop_location_differ_charges > 0">
                <td>{{'One way drop off charge'|translate}}</td>
                <td></td>
                <td>(+) {{siteCurrency}}{{VehicleRentalDetails.drop_location_differ_charges}}</td>
            </tr>
            <tr ng-if="enabled_plugin.indexOf('VehicleExtraAccessories') >= 0 && VehicleRentalDetails.extra_accessory_amount > 0">
                <td>{{'Extra Accessory Amount'|translate}}</td>
                <td></td>
                <td>(+) {{siteCurrency}}{{VehicleRentalDetails.extra_accessory_amount}}</td>
            </tr>
            <tr ng-if="enabled_plugin.indexOf('VehicleInsurances') >= 0 && VehicleRentalDetails.insurance_amount > 0">
                <td>{{'Insurance Amount'|translate}}</td>
                <td></td>
                <td>(+) {{siteCurrency}}{{VehicleRentalDetails.insurance_amount}}</td>
            </tr>
            <tr ng-if="enabled_plugin.indexOf('VehicleFuelOptions') >= 0 && VehicleRentalDetails.fuel_option_amount > 0">
                <td>{{'Fuel Amount'|translate}}</td>
                <td></td>
                <td>(+) {{siteCurrency}}{{VehicleRentalDetails.fuel_option_amount}}</td>
            </tr>
            <tr ng-if="enabled_plugin.indexOf('VehicleSurcharges') >= 0 && VehicleRentalDetails.surcharge_amount > 0">
                <td>{{'Surcharge Amount'|translate}}</td>
                <td></td>
                <td>(+) {{siteCurrency}}{{VehicleRentalDetails.surcharge_amount}}</td>
            </tr>
            <tr ng-if="VehicleRentalDetails.additional_fee > 0">
                <td>{{'Additional Fee'|translate}}</td>
                <td></td>
                <td>(+) {{siteCurrency}}{{VehicleRentalDetails.additional_fee}}</td>
            </tr>
            <tr ng-if="VehicleRentalDetails.special_discount_amount > 0">
                <td>{{'Special Discount Amount'|translate}}</td>
                <td></td>
                <td>(-) {{siteCurrency}}{{VehicleRentalDetails.special_discount_amount}}</td>
            </tr>
            <tr ng-if="VehicleRentalDetails.type_discount_amount > 0">
                <td>{{'Type Discount Amount'|translate}}</td>
                <td></td>
                <td>(-) {{siteCurrency}}{{VehicleRentalDetails.type_discount_amount}}</td>
            </tr>
            <tr ng-if="enabled_plugin.indexOf('VehicleCoupons') >= 0 && VehicleRentalDetails.coupon_discount_amount > 0">
                <td>{{'Discount'|translate}}</td>
                <td></td>
                <td>(-) {{siteCurrency}}{{VehicleRentalDetails.coupon_discount_amount}}</td>
            </tr>
            <tr>
                <td>
                    <strong>{{'Total Price'|translate}}</strong>
                </td>
                <td></td>
                <td>{{siteCurrency}}{{VehicleRentalDetails.total_amount}}</td>
            </tr>
            </tbody>
        </table>
        <a ng-show="isPayment && booker_detail.id" class="active btn btn-primary pull-right" ng-click="continuePayment()">{{'Continue Payment'|translate}}</a>
    </div>
</div>