<div class="page-head">
	<div class="container">
        <h2 class="text-uppercase pull-left">{{'Change Password' | translate}}</h2>
        <div class="pull-right profile-settings">
            <dashboard-settings></dashboard-settings>
        </div>
	</div>
</div>
<div class="change-password">
	<div class="container">
        <form method="post" class="row" name="changePasswordForm" ng-submit="change_password(changePasswordForm.$valid, user)" novalidate>
       		<div class="form-group col-sm-4" ng-class="{ 'has-error' : ((changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid)) || user.oldPassErr }">
             	<label class="control-label">{{'Current Password' | translate}}</label>
                <input class="form-control" type="password" name="old_password" ng-model="user.old_password" placeholder="{{'Current Password' | translate}}" ng-required="true" ng-minlength="6" ng-maxlength="40" ng-change="user.oldPassErr=''">
                <div ng-show="((changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid)) || user.oldPassErr">
                    <span class="error" ng-show="(changePasswordForm.old_password.$error.required)">{{'Enter Current Password' | translate}}</span>
                    <span class="error" ng-show="(changePasswordForm.old_password.$error.minlength)">{{'Minimum length is' | translate}} 6</span>
                    <span class="error" ng-show="user.oldPassErr">{{user.oldPassErr}}</span>
                </div>
            </div>
            <div class="form-group col-sm-4" ng-class="{ 'has-error' : ((changePasswordForm.$submitted || changePasswordForm.password.$touched) && (changePasswordForm.password.$pristine || changePasswordForm.password.$invalid)) || user.passwordErr}">
            	<label class="control-label">{{'New Password' | translate}}</label>
                <input type="password" class="form-control" placeholder="{{'New Password' | translate }}" name="password" ng-model="user.password" ng-required="true" ng-minlength="6" ng-maxlength="40" ng-change="user.passwordErr=''">
                <div ng-show="((changePasswordForm.$submitted || changePasswordForm.password.$touched) && (changePasswordForm.password.$pristine || changePasswordForm.password.$invalid)) || user.passwordErr">
                    <span class="error" ng-show="(changePasswordForm.password.$error.required)">{{ 'Enter New Password' | translate }}</span>
                    <span class="error" ng-show="(changePasswordForm.password.$error.minlength)">{{ 'Minimum length is 6' | translate }}</span>
                    <span class="error" ng-show="(changePasswordForm.password.$error.maxlength)">{{ 'Maximum length is 20' | translate }}</span>
                    <span class="error" ng-show="user.passwordErr">{{user.passwordErr}}</span>
             	</div>
            </div>
            <div class="form-group col-sm-4" ng-class="{ 'has-error' : ((changePasswordForm.$submitted || changePasswordForm.confirmPassword.$touched) && (changePasswordForm.confirmPassword.$pristine || changePasswordForm.confirmPassword.$invalid)) || user.confirmPasswordErr}">
            	<label class="control-label">{{'Re-type New Password' | translate}}</label>
                <input password-match="user.password" type="password" class="form-control" placeholder="{{'Re-type New Password' | translate }}" name="confirmPassword" ng-model="user.confirm_password" ng-required="true" ng-minlength="6" ng-maxlength="40" ng-change="user.confirmPasswordErr=''">
                <div ng-show="((changePasswordForm.$submitted || changePasswordForm.confirmPassword.$touched) && (changePasswordForm.confirmPassword.$pristine || changePasswordForm.confirmPassword.$invalid)) || user.confirmPasswordErr">
            		<span class="error" ng-show="(changePasswordForm.confirmPassword.$error.required)">{{'Re-type New Password' | translate}}</span>
                    <span class="error" ng-show="(changePasswordForm.confirmPassword.$error.minlength)">{{'Minimum length is 6' | translate}}</span>
                    <span class="error" ng-show="(changePasswordForm.confirmPassword.$error.maxlength)">{{'Maximum length is 20' | translate }}</span>
                    <span class="error" ng-show="(changePasswordForm.confirmPassword.$error.compareTo)">{{'Password Mismatch' | translate }}</span>
                    <span class="error" ng-show="user.confirmPasswordErr">{{user.confirmPasswordErr}}</span>
             	</div>
            </div>
            <div class="form-group col-sm-2 pull-right">
            	<button class="btn btn-orange btn-block" type="submit">{{'Save' | translate}}</button>
            </div>
        </form>
    </div>
</div>